.vs/BusinessSchedulingApplication.slnx/FileContentIndex/f525ad24-4c5b-43c3-8910-ceedf9ac5d24.vsidx
.vs/BusinessSchedulingApplication.slnx/FileContentIndex/3a68bc9f-a19c-4ba0-b3ed-55fdf7a3de65.vsidx
.vs/BusinessSchedulingApplication.slnx/FileContentIndex/8ab8faaa-ef39-4661-a9af-4f13baa663f6.vsidx
.vs/BusinessSchedulingApplication.slnx/FileContentIndex/2525867a-053f-4a03-afc9-2ee44da90513.vsidx
.vs/BusinessSchedulingApplication.slnx/FileContentIndex/dce9b6f6-7691-4323-b473-ee9036a3fe30.vsidx
.vs/BusinessSchedulingApplication.slnx/v18/.suo
.vs/